.text-hide() {
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.main-para() {
  font-family: @opensans;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: @grey-darken;
}

.title-text(@color) {
  font-family: @gilroy;
  font-size: 47px;
  font-weight: 700;
  font-kerning: normal;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  color: @color;
}

.main-menu(@color) {
  font-family: @gilroy;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: @color;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.outline(@color) {
  outline: 1px solid @color;
}

.link-button() {
  display: block;
  padding: 10px 30px;
  font-family: @gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  text-align: center;
  color: @black;
  background: linear-gradient(to top, transparent, transparent 16px, @orange-dark 16px, @orange-dark 24px, transparent 24px);

  &:hover {
    background: @orange-dark;
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}


.placeholder() {
  &::-webkit-input-placeholder {
    .main-para();
  }
  &::-moz-placeholder          {
    .main-para();
    }/* Firefox 19+ */
  &:-moz-placeholder           {
    .main-para();
    }/* Firefox 18- */
  &:-ms-input-placeholder      {
    .main-para();
  }
}
