html {
/*   font-family: @font-family;
font-size: @font-size;
font-weight: @font-weight;
line-height: @line-height;
color: @color;
background-color: @bg;
*/
}

body {
/*   min-width: 320px; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
blockquote {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
